/* Estilos específicos para UXUI.js */
.custom-uxui {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrado en móvil */
  background: linear-gradient(90deg, #c026d3, #e879f9, #ffffff);
  padding: 2rem 4rem;
  border-radius: 15px;
  text-align: center; /* Centra el texto en móvil */
  position: relative;
  overflow: hidden;
  margin-left: auto; /* Centra en móvil */
  margin-right: auto; /* Centra en móvil */
  margin-top: 20px;
  max-width: 200px;
  height: auto;
}

/* En pantallas grandes (PC), lo mueves a la izquierda */
@media (min-width: 768px) {
  .custom-uxui {
    align-items: flex-start; /* Alineado a la izquierda en PC */
    text-align: left;
    margin-left: 0; /* Elimina el centrado */
    margin-right: auto; /* Empuja a la izquierda */
    transform: translateX(0); /* Elimina el desplazamiento */
  }
}

/* Estilos para la sección principal con imagen y texto */
.main-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .main-section {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}

/* Texto flotante */
.floating-text {
  width: 100%;
  text-align: center; /* Centrado en móvil */
  padding: 0 1.5rem;
  margin-top: 0rem; /* Espaciado en móvil */
}


@media (min-width: 1024px) {
  .floating-text {
    position: absolute;
    top: -160px; /* Subir el texto */
    right: -20%;
    width: 80%; /* Ajuste el ancho */
    text-align: right;
  }
}

/* Estilos de las características */
.custom-uxui .features {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.feature-item {
  text-align: center;
  width: 30%;
  margin: 0;
}

.feature-item img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.feature-item img:hover {
  transform: scale(1.05);
}

.feature-item p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
  margin-top: 1rem;

}

/* Estilos de texto y contenedores en desktop */
@media (min-width: 1024px) {
  .main-section h1 {
    font-size: 3rem;
  }

  .main-section p {
    font-size: 1.2rem;
  }
}